#canvas {
  margin: auto;
  display: block;
  border: 1px solid red;
}
.center {
  margin: auto;
  display: block;
}
.flex {
  display: flex;
}
.size-container {
  margin: 10px 0 0 10px;
  text-align: right;
}
.button-container {
  margin: 10px 0 0 10px;
}
.flex-item {
  width: 50%;
}
